<div id="footer">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <a href="https://facebook.com" target="_blank" class="footer-icon me-3" style="color: black;">
            <i class="fab fa-facebook-f" style="color: black; font-size: x-large;"></i>
          </a>
          <a href="https://instagram.com" target="_blank" class="footer-icon me-3" style="color: black;">
            <i class="fab fa-instagram" style="color: black; font-size: x-large;"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="footer-icon me-3" style="color: black;">
            <i class="fab fa-twitter" style="color: black; font-size: x-large;"></i>
          </a>
          <a href="https://whatsapp.com" target="_blank" class="footer-icon me-3" style="color: black;">
            <i class="fab fa-whatsapp" style="color: black; font-size: x-large;"></i>
          </a>
          <a href="https://youtube.com" target="_blank" class="footer-icon me-3" style="color: black;">
            <i class="fab fa-youtube" style="color: black; font-size: x-large;"></i>
          </a>
          <a href="https://linkedin.com" target="_blank" class="footer-icon" style="color: black;">
            <i class="fab fa-linkedin-in" style="color: black; font-size: x-large;"></i>
          </a>
        </div>
        <!-- <div class="col-auto" style="background-color: #aa511a; position: fixed; bottom: 0; width: 100%;">
          <p class="mb-0" style="color: white;">Copy</p>
        </div> -->
      </div>
    </div>
  </div>