<nav>
    <div class="nav nav-tabs" id="main-tabs" role="tablist">
      <button class="nav-link active" id="main-users-tab" data-bs-toggle="tab" data-bs-target="#main-users" type="button" role="tab" aria-controls="main-users" aria-selected="true" style="color: black;">Users</button>
      <button class="nav-link" id="main-courses-tab" data-bs-toggle="tab" data-bs-target="#main-courses" type="button" role="tab" aria-controls="main-courses" aria-selected="false" style="color: black;">Courses</button>
      <button class="nav-link" id="main-categories-tab" data-bs-toggle="tab" data-bs-target="#main-categories" type="button" role="tab" aria-controls="main-categories" aria-selected="false" style="color: black;">CourseCategories</button>
      <button class="nav-link" id="main-assessments-tab" data-bs-toggle="tab" data-bs-target="#main-assessments" type="button" role="tab" aria-controls="main-assessments" aria-selected="false" style="color: black;">Assessments</button>
      <button class="nav-link" id="main-scores-tab" data-bs-toggle="tab" data-bs-target="#main-scores" type="button" role="tab" aria-controls="main-scores" aria-selected="false" style="color: black;">AssessmentScore</button>
      <button class="nav-link" id="main-reports-tab" data-bs-toggle="tab" data-bs-target="#main-reports" type="button" role="tab" aria-controls="main-reports" aria-selected="false" style="color: black;">Reports</button>
    </div>
  </nav>
 
  <div class="tab-content" id="content" style="padding-top: 20px;">

    <div class="tab-pane fade show active" id="main-users" role="tabpanel" aria-labelledby="main-users-tab" tabindex="0">
      <nav>
        <div class="nav nav-tabs" id="inner-users-tabs" role="tablist">
          <button class="nav-link active" id="inner-view-user-tab" data-bs-toggle="tab" data-bs-target="#inner-view-user" type="button" role="tab" aria-controls="inner-view-user" aria-selected="true" style="color: black;">View User</button>
          <button class="nav-link" id="inner-add-user-tab" data-bs-toggle="tab" data-bs-target="#inner-add-user" type="button" role="tab" aria-controls="inner-add-user" aria-selected="false" style="color: black;">Add User</button>
          <button class="nav-link" id="inner-update-user-tab" data-bs-toggle="tab" data-bs-target="#inner-update-user" type="button" role="tab" aria-controls="inner-update-user" aria-selected="false" style="color: black;">Update User</button>
        </div>
      </nav>

      <div class="tab-content" id="inner-users-tabs-content">
        <div class="tab-pane fade show active" id="inner-view-user" role="tabpanel" aria-labelledby="inner-view-user-tab" tabindex="0">
          <div class="container mt-3">
            <div class="row justify-content-end">
                <div class="col-auto">
                  <app-view-user></app-view-user>
                    <div class="input-group input-group-sm">
                        <input class="form-control" type="text" id="searchInput" placeholder="Search by name" onkeyup="filterData()">
                    </div>
                </div>
            </div>
        </div>      
          <div class="container text-center">
            <div class="row">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="inner-add-user" role="tabpanel" aria-labelledby="inner-add-user-tab" tabindex="0">
          <app-add-user></app-add-user>
        </div>
        <div class="tab-pane fade" id="inner-update-user" role="tabpanel" aria-labelledby="inner-update-user-tab" tabindex="0">
        <app-update-user></app-update-user>
          </div>
        </div>
      </div>
 

    <div class="tab-pane fade" id="main-courses" role="tabpanel" aria-labelledby="main-courses-tab" tabindex="0">
      <nav>
        <div class="nav nav-tabs" id="inner-courses-tabs" role="tablist">
          <button class="nav-link active" id="inner-view-course-tab" data-bs-toggle="tab" data-bs-target="#inner-view-course" type="button" role="tab" aria-controls="inner-view-course" aria-selected="true">View Courses</button>
          <button class="nav-link" id="inner-add-user-tab" data-bs-toggle="tab" data-bs-target="#inner-add-course" type="button" role="tab" aria-controls="inner-add-course" aria-selected="false">Add Course</button>
          <button class="nav-link" id="inner-delete-course-tab" data-bs-toggle="tab" data-bs-target="#inner-delete-course" type="button" role="tab" aria-controls="inner-update-course" aria-selected="false">Delete Course</button>
        </div>
      </nav>
      <div class="tab-content" id="inner-courses-tabs-content">
        <div class="tab-pane fade show active" id="inner-view-course" role="tabpanel" aria-labelledby="inner-view-course-tab" tabindex="0">
          <div class="container text-center">
            <div class="row">
              <div class="col">
                1
              </div>
              <div class="col">
                CSE
              </div>
              <div class="col">
                <button>View</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                2
              </div>
              <div class="col">
                MMAE
              </div>
              <div class="col">
                <button>View</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                3
              </div>
              <div class="col">
                EEE
              </div>
              <div class="col">
                <button>View</button>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="inner-add-course" role="tabpanel" aria-labelledby="inner-add-course-tab" tabindex="0">
          Courses List:<br>
          CSE<br>
          MMAE<br>
          EEE<br>
          <br>
          <button>ADD NEW COURSE</button>
        </div>
        <div class="tab-pane fade" id="inner-delete-course" role="tabpanel" aria-labelledby="inner-delete-course-tab" tabindex="0">
          <div class="container text-center">
            <div class="row">
              <div class="col">
                1
              </div>
              <div class="col">
                CSE
              </div>
              <div class="col">
                <button>Delete</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                2
              </div>
              <div class="col">
                MMAE
              </div>
              <div class="col">
                <button>Delete</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                3
              </div>
              <div class="col">
                EEE
              </div>
              <div class="col">
                <button>Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="main-assessments" role="tabpanel" aria-labelledby="main-assessments-tab" tabindex="0">
      <nav>
        <div class="nav nav-tabs" id="inner-assessments-tabs" role="tablist">
          <button class="nav-link active" id="inner-view-assessments-tab" data-bs-toggle="tab" data-bs-target="#inner-view-assessments" type="button" role="tab" aria-controls="inner-view-assessments" aria-selected="true">View assessments</button>
          <button class="nav-link" id="inner-add-assessments-tab" data-bs-toggle="tab" data-bs-target="#inner-add-assessments" type="button" role="tab" aria-controls="inner-add-assessments" aria-selected="false">Add assessments</button>
          <button class="nav-link" id="inner-delete-assessments-tab" data-bs-toggle="tab" data-bs-target="#inner-delete-assessments" type="button" role="tab" aria-controls="inner-update-assessments" aria-selected="false">Delete assessments</button>
        </div>
      </nav>
      <div class="tab-content" id="inner-assessments-tabs-content">
        <div class="tab-pane fade show active" id="inner-view-assessments" role="tabpanel" aria-labelledby="inner-view-assessments-tab" tabindex="0">
        <!-- assessmentadmincomponent -->
        </div>
        <div class="tab-pane fade" id="inner-add-assessments" role="tabpanel" aria-labelledby="inner-add-assessments-tab" tabindex="0">
          <app-admin-assessment></app-admin-assessment>
        </div>
        <div class="tab-pane fade" id="inner-delete-course" role="tabpanel" aria-labelledby="inner-delete-course-tab" tabindex="0">
              </div>
            </div>
          </div>


    <div class="tab-pane fade" id="main-categories" role="tabpanel" aria-labelledby="main-categories-tab" tabindex="0">
      <nav>
        <div class="nav nav-tabs" id="inner-categories-tabs" role="tablist">
          <button class="nav-link active" id="inner-view-categories-tab" data-bs-toggle="tab" data-bs-target="#inner-view-categories" type="button" role="tab" aria-controls="inner-view-categories" aria-selected="true">View categories</button>
          <button class="nav-link" id="inner-add-categories-tab" data-bs-toggle="tab" data-bs-target="#inner-add-categories" type="button" role="tab" aria-controls="inner-add-categories" aria-selected="false">Add categories</button>
          <button class="nav-link" id="inner-delete-categories-tab" data-bs-toggle="tab" data-bs-target="#inner-delete-categories" type="button" role="tab" aria-controls="inner-update-categories" aria-selected="false">Delete categories</button>
        </div>
      </nav>

      <div class="tab-content" id="inner-categories-tabs-content">

        <div class="tab-pane fade show active" id="inner-view-course" role="tabpanel" aria-labelledby="inner-view-course-tab" tabindex="0">
         <app-view-category></app-view-category>
        </div>

        <div class="tab-pane fade" id="inner-add-categories" role="tabpanel" aria-labelledby="inner-add-categories-tab" tabindex="0">
        Add Categories
        </div>

        <div class="tab-pane fade" id="inner-delete-categories" role="tabpanel" aria-labelledby="inner-delete-categories-tab" tabindex="0">
        Delete category
        </div>

      </div>
    </div>


    <div class="tab-pane fade" id="main-scores" role="tabpanel" aria-labelledby="main-scores-tab" tabindex="0">
      <p>Assessment scores content goes here.</p>
    </div>

    <div class="tab-pane fade" id="main-reports" role="tabpanel" aria-labelledby="main-reports-tab" tabindex="0">
      <p>Reports content goes here.</p>
    </div>


  </div>