
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" (ngSubmit)="createNewAssessment(firstFormGroup.value)">
        <ng-template matStepLabel>Fill out the Details of the Assessment</ng-template>
        <mat-form-field>
          <mat-label>Title of the Assessment</mat-label>
          <input matInput placeholder="Title" formControlName="titleCtrl" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Max marks</mat-label>
            <input matInput placeholder="Last" formControlName="marksCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Assessment Date</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="dateCtrl" required>
          </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Add Questions">
      <form [formGroup]="questionsForm" (ngSubmit)="saveQuestions(questionsForm.value)">
        <div formArrayName="arrQuestion">
          <div *ngFor="let product of QuestionsArray().controls; let i = index" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Question</mat-label>
              <input matInput formControlName="quesionCtrl" placeholder="Write your question" required>
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>Answer</mat-label>
              <input matInput formControlName="answerCtrl" placeholder="Answer" required>
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>Question Type</mat-label>
              <input matInput formControlName="typeCtrl" placeholder="Type of question" required>
            </mat-form-field>
    
            <div class="col-3">
              <button type="button" (click)="RemoveQuestionFormGroup(i)">
                <mat-icon>highlight_off</mat-icon>
              </button>
              <button type="button" (click)="AddQuestionFormGroup()">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext type="submit">Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  