<div class="container">
    <form [formGroup]="myForm" class="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="dropdown">Select a user for update:</label>
          <select class="form-select" id="id" formControlName="id" (change)="onChangeType($event)">
            <option selected>select a value</option>
            <option *ngFor="let u of arrusers" [ngValue]="u.id">
              {{ u.firstName }}
            </option>
          </select>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">First Name</label>
          <input id="first_name" class="inputname" formControlName="first_name">
          <div *ngIf="submitted && f['first_name'].errors">
            <div class="error" *ngIf="f['first_name'].errors['required']">
              First name is required
            </div>
          </div>
        </div>
  
        <div class="form-group col-md-6">
          <label for="last_name">Last Name</label>
          <input id="last_name" class="inputlastname" formControlName="last_name">
          <div *ngIf="submitted && f['last_name'].errors">
            <div class="error" *ngIf="f['last_name'].errors['required']">
              Last name is required
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input id="email" class="email" formControlName="email">
          <div *ngIf="submitted && f['email'].errors">
            <div class="error" *ngIf="f['email'].errors['required']">
              Email is required
            </div>
            <div class="error" *ngIf="f['email'].errors['email']">
              Invalid email format
            </div>
          </div>
        </div>
  
        <div class="form-group col-md-6">
          <label for="phone_no">Phone Number</label>
          <input id="phone_no" class="phone_no" formControlName="phone_no">
          <div *ngIf="submitted && f['phone_no'].errors">
            <div class="error" *ngIf="f['phone_no'].errors['required']">
              Phone number is required
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="dob">Date of Birth</label>
          <input type="date" id="dob" class="dob" formControlName="dob">
          <div *ngIf="submitted && f['dob'].errors">
            <div class="error" *ngIf="f['dob'].errors['required']">
              Date of birth is required
            </div>
          </div>
        </div>
  
        <div class="form-group col-md-6">
          <label for="role">Role</label>
          <input type="text" id="role" class="role" formControlName="role">
          <div *ngIf="submitted && f['role'].errors">
            <div class="error" *ngIf="f['role'].errors['required']">
              Role is required
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" id="password" class="password" formControlName="password">
          <div *ngIf="submitted && f['password'].errors">
            <div class="error" *ngIf="f['password'].errors['required']">
              Password is required
            </div>
          </div>
        </div>
  
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input type="text" id="address" class="address" formControlName="address">
          <div *ngIf="submitted && f['address'].errors">
            <div class="error" *ngIf="f['address'].errors['required']">
              Address is required
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  