.assessment-name {
    font-weight: bold;
    color: #343a40;
    margin-bottom: 15px;
  }
  
  .assessment-details {
    list-style-type: none;
    padding-left: 0;
    color: #6c757d;
  }
  
  .assessment-details li {
    margin-bottom: 10px;
  }
  
  .assessment-image {
    max-width: 100%;
    border-radius: 10px;
  }
  