<div class="container my-4">
    <div id="cardContainer" class="row">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mt-4" id="pagination">
        <div class="card" *ngFor="let ass of pagedData">
          <div class="card-body" style="height: 350px; width: 350px;">
            <h5 class="card-title">{{ ass.assessmentName }}</h5>
            <img src={{ass.image}} style="overflow: hidden;">
            <button (click)="addToCart(ass.id)">Add to cart</button>
            <button (click)="viewDetails()">{{detailbuttontext}}</button>
            <div *ngIf="showDetails">
              <p> Date: {{ass.assesmentDate}}</p>
              <p>Time: {{ass.assessmentTime}}</p>
            </div>
          </div>
        </div>
      </ul>
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="changePage(currentPage - 1)" tabindex="-1">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of [1, 2, 3, 4]; let i = index" [class.active]="currentPage === (i + 1)">
              <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 4">
              <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
  </div>


