    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Login Form</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
              <ol>
                <li>
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" placeholder="Enter your Name" ngModel required>
                </li>
                <br>
                <li>
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" placeholder="password" ngModel required>
                </li>
              </ol>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit" >Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
        